EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCPfBmwy4i1B-mo_V0xA4C2MtyZ50Lu1n8
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=reading-tracker-ead2b.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=reading-tracker-ead2b
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=reading-tracker-ead2b.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=382447219386
EXPO_PUBLIC_FIREBASE_APP_ID=1:382447219386:web:30b6c3de2b41f8dad9c883